$lb: #C7F7FF;
$mb: #89C0C9;
$db: #3a5E63;
$lB: #C9A689;
$dB: #7C593C;
$lg: #d4d4d4;
$dg: #222;
$ff: #fff;
$f: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;
$fs: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;